@section MoreScripts{

    <script src="~/lib/moment/moment.min.js"></script>
    <link href="~/lib/dtpicker/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <script src="~/lib/dtpicker/js/tempusdominus-bootstrap-4.min.js"></script>
}


<form asp-controller="Account"
      asp-action="ResetPWConfirmation"
      method="post">

    <h2>An Email has been sent!</h2>
    <h3>Please check your email to reset your password.</h3>

</form>